<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fac.css">
    <title>FAC</title>
</head>

<body>
    <table>
        <thead>
            <th class="header">
                <div class="firstRow">
                    <img style="width: 200px;" src="../src/img/logoDaher.png" alt="Logo DAHER">
                    <span>F0827 ind B</span>
                    <span>Doc de rattachement : P0186</span>
                </div>
                <div class="secondRow">
                    FICHE AUTO-CONTROLE
                </div>
                <div class="thirdRow">

                    <div>Référence : <span class="reference"></span></div>
                    <div>Désignation : <span class="designation"></span></div>
                    <div>SC : <span class="sc"></span></div>
                    <div>OF : <span class="of"></span></div>
                </div>
            </th>
        </thead>
        <tbody>
            <tr class="content"></tr>
        </tbody>

        <tfoot>
            <tr class="footer">
                <div class="firstRow">

                </div>
            </tr>
        </tfoot>

    </table>
</body>

</html>