<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ordoElevator.css">
    <title>Ordo Elevator</title>
</head>

<body>
    <div class="elevatorTitle">ELEVATOR
        <div class="elevatorName"></div>
        <div class="ofOrdo"></div>
        <div class="side"></div>
    </div>
    <div class="stations">
        <div class="station">ST0 Article :
            <div class="article"></div>
            OF :
            <div class="of"></div>
        </div>
        <div class="station">ST1 Article :
            <div class="article"></div>
            OF :
            <div class="of"></div>
        </div>

        <div class="station">ST2 Article :
            <div class="article"></div>
            OF :
            <div class="of"></div>
        </div>
    </div>
</body>

</html>