@import "../styles/defaultStyle.css";
@page {
    size: A4;
}

@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }
    .nav {
        display: none;
    }
    .divECME {
        page-break-inside: avoid;
    }
}


/* nav */

.nav {
    display: none;
}

body {
    width: 210mm;
    height: 297mm;
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: 130px;
    overflow: visible;
    justify-content: space-around;
}

.divECME {
    text-align: center;
    margin: 8px;
    padding: 0;
    page-break-inside: avoid;
}

.divECME img {
    padding: 6px;
}

.txt-human {
    font-size: 0.6em;
    display: flex;
    flex-direction: column;
}