@import "../styles/defaultStyle.css";
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--perso-bg-img);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway';
    color: var(--perso-color-bleuDaher);
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border: solid 2px;
    border-color: var(--perso-color-rougeDaher);
    width: fit-content;
    height: fit-content;
}

.title {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}

.authentifications {
    display: flex;
    flex-direction: row;
    margin: 25px;
}

.authentifications>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.login-mdp {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.login-qrcode {
    border-right: 2px solid var(--perso-color-bleuDaher);
}

.login-qrcode img {
    width: 100px;
}

.login-qrcode img:hover {
    width: 120px;
}