@import "../styles/defaultStyle.css";
@page {
    size: A4;
}

@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }
    .nav {
        display: none;
    }
    .divECME {
        page-break-inside: avoid;
    }
    .divUser {
        page-break-inside: avoid;
    }
}

.divUser {
    text-align: center;
    margin: 8px;
    padding: 0;
}

.divUser img {
    padding: 6px;
}

.txt-human {
    font-size: 0.6em;
    display: flex;
    flex-direction: column;
}